* {
    margin: 0;
    padding: 0;
 }

ui-view {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    height: 100%;
    width: 100%;
}

.chat-rooms {
    position: fixed;
    font-family: 'Roboto';
    width: 290px;
    height: 100%;
    background-color: lightgray;
    text-align: left;
    padding-left: 15px;
}

.chat-links {
    margin-top: 20px;
}

.chat-rooms h2 {
    display: inline;
    opacity: .6;
}

.chat-room-list {
    margin-top: 20px;
}

.chat-room-list a {
    cursor: pointer;
    opacity: .4;
}

.chat-room-list a:hover {
    color: cornflowerblue;
    opacity: .6;
}

button.add-room {
    cursor: pointer;
    margin-left: 10px;
    border: none;
    background-color: cornflowerblue;
    padding: 9px;
    opacity: .7;
}

button.add-room:hover {
    color: white;
    opacity: .4;
    
}

button.log-out {
    cursor: pointer;
    margin-left: 10px;
    border: none;
    background-color: whitesmoke;
    padding: 9px 15px;
    opacity: .7;
}

button.log-out:hover {
    color: white;
    background-color: cornflowerblue;
    opacity: .4;
    
}

.chat-messages {
    font-family: 'Roboto';
    margin-left: 305px;
    width: calc(100% - 305px);
    overflow: auto;
    
}

.chat-title {
    font-family: 'Roboto';
    margin: 10px;
    font-size: 20px;
    padding-top: 10px;
}

.username {
    margin: 15px 0 0 10px;
    font-size: 16px;
    display: inline-block;
}

.sent-at {
    display: inline-block;
    float: right;
    font-size: 10px;
    opacity: .7;
    margin-top: 30px;
    
}

.content {
    font-size: 12px;
    margin-left: 20px;
    padding: 9px;
    flex-wrap: wrap;
}

.odd {
    background-color: whitesmoke;
    padding: 0 5px 5px;
}

.even {
    padding: 0 5px 5px;
}

.new-message {
    position: fixed;
    bottom: 0;
    margin-left: 305px;
    width: 70%;
    width: calc(100% - 305px);
    
}

#message-input {
    padding-left: 10px;
    height: 38px;
    border: none;
    border-top: 1px solid lightgrey;
    width: 88.9%;
    
}

.send-button {
    height: 40px;
    width: 6.5%;
    cursor: pointer;
    border: none;
    background-color: cornflowerblue;
    opacity: .7;
}

.send-button:hover {
    color: white;
    opacity: .4;
}