<section ng-controller="AddRoomCtrl">
    <div class="modal">
        <div class="modal-header">
            <h3 class="modal-title">Create New Room</h3>
        </div>
        <div class="modal-body">
            <form ng-submit="submit()">
                <label>
                    Enter a room name:
                </label>
                <br>
                    <input type="text" id="input" ng-model="text" name="text">
                    <br>
                   
                    <input type="submit" class="create-room" value="Create Room">
    
            </form>
            <button type="cancel" class="cancel" ng-click="$dismiss()">Cancel</button>
        </div>
    </div>
</section>