<section class="chat-rooms container">
    <div class="chat-links">
        <h2>Bloc Chat</h2>
        <button class="add-room" ng-click="rooms.open()">Add Room</button>
        <button class="log-out" ng-click="rooms.logOut()">Log Out</button>
        <div class="chat-room-list" ng-repeat="chat_room in rooms.roomList">
            <a ng-click="rooms.selectRoom(chat_room)">{{chat_room.$value}}</a>
        </div>
    </div>
    
   
</section>

<section class="chat-messages container">
     <div class="chatroom">
        <div class="chat-title">
            <h3>{{rooms.activeRoom.$value}}</h3>
        </div>
        <div class="chat-body">
            <div class="message-list" ng-repeat="message in rooms.activeMessages">
                <div ng-class-odd="'odd'" ng-class-even="'even'">
                    <h5 class="username">{{message.username}}</h5>
                    <p class="sent-at">{{message.sentAt | date: "h:mm" + " " + "a"}}</p>
                    <br>
                    <p class="content">{{message.content}}</p>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section ng-controller="AddMessageCtrl" class="new-message container">
    <div class="message-bar">
        <form ng-submit="submit(rooms.activeRoom.$id)">
            <input type="text" id="message-input" ng-model="text" name="text" placeholder="Write a message...">

            <input type="submit" class="send-button" value="Send">

        </form>
    </div>
</section>
